<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/raval_dhvanit/"><img width="32" height="32"
                    src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram-new" /></a>
            <a href="https://github.com/Dhvanit-raval"><img width="32" height="32"
                    src="https://img.icons8.com/windows/32/github.png" alt="github" /></a>
            <a href="https://www.linkedin.com/in/ravaldhvanit"><img width="32" height="32"
                    src="https://img.icons8.com/fluency/48/linkedin-circled.png" alt="linkedin-circled" /></a>
        </div>
        <div class="f-info-copy">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>